<div class="container">
    <div class="float-right">
      <a routerLink="/logout" class="badge badge-secondary p-2 m-2">Logout</a>
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Company</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.local.email}}</td>
            <td>{{user.company}}</td>
          </tr>
        </tbody>
      </table>
</div>
